{% extends 'delivery/base.html' %}
{% load crispy_forms_tags %}
{% block title %}{{ request.user.username|title }}'s Profile{% endblock title %}
{% block head %}
{% include 'accounts/firebase.html' %}
{% endblock head %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img src="{{ profile.avatar.url }}" alt="profile" width="50px" height="50px">
            <h1>{{ profile.user.first_name }} {{ profile.user.last_name }}</h1>
            <h2>Age: {{ profile.user.age }}</h2>
            <h2>Gender: {{ profile.user.gender }}</h2>
        </div>
        <div class="col-md-8">
            <div class="container">
                <h1>Change Info</h1>
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ user_form|crispy }}
                    {{ profile_form|crispy }}
                    <input type="submit" value="Update">
                </form>
            </div>
            <div class="container">
                <h1>Change Password</h1>
                <form action="" method="post">
                    {% csrf_token %}
                    {{ password_change_form|crispy }}
                    <input type="submit" value="Change Password">
    
                </form>
            </div>
        </div>

    </div>
</div>
{% endblock body %}