{% extends 'delivery/base.html' %}
{% block title %}Home{% endblock title %}
{% block body %}
<div class="container px-4 py-5" id="custom-cards">
    <h2 class="pb-2 border-bottom text-center">Welcome To Delivery House</h2>
    <div class="container">
        <div class="row row-cols-2">
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Customer</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" role="button" type="button" class="card-link btn btn-outline-success">Details</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}